// Bootstrap Overrides (Theming)
/* VARS */
$primary: #5471d3;
$enable-rounded: false;
$enable-shadows: true;

// Bootstrap and its default variables
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

// Bootstrap Overrides (Theming)
/* RULES */
.btn-primary {
  font-weight: bold;
}

// HTML Overrides
html,body {
  font-size: 16px;
}
ul {
  list-style: none;
  padding:0;
}

// App Globals
#content {
  position: relative;
}
#app {
  height: 100%;
}
