// Bootstrap and its default variables
@import "~bootswatch/dist/slate/variables";
@import "~bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";
@import "~bootswatch/dist/slate/bootswatch";

html,
body {
  font-size: 16px;
}
#nuCardMetaGroup,
.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > div:last-child {
    float: right;
  }
}
.nuCardEditGroup {
  .card-link {
    transition: color 500ms;
  }
  .nuDeleteCard {
    :hover {
      color: #ec4d49;
    }
  }
  .nuEditCard {
    margin-left: auto;
    :hover {
      color: gold;
    }
  }
}
.liked {
  background: #5471d3;
  color: #fff;
  border-radius: 7px;
}
.nuLike {
  cursor: pointer;
  display: flex;
  :hover {
    color: #74cae3;
  }
}
.author {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profilePic {
  width: 40px;
  height: 40px;
  text-align: center;
  background: #333;
  color: #fff;
  border-radius: 50%;
  margin-right: 10px;
}
.quillWrapper {
  background-color: white;
  color: black;
}
.ql-align-center {
  text-align: center;
}

#footer-section{
	width: 100%;
	min-height: 80px;
}
#footer-section p{
	margin: 0;
	padding: 25px 15px; 
	text-align: center;
	line-height: 30px;
	color: #1a1a1a;
}
#footer-section p a{
	color: #3498db;
}
