// Bootstrap and its default variables
@import "~bootswatch/dist/slate/variables";
@import "~bootstrap/scss/bootstrap";
@import 'node_modules/bootstrap-vue/src/index.scss';
@import "~bootswatch/dist/slate/bootswatch";

html,body{
  font-size: 16px;
}


#nuCardMetaGroup,
.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > div:first-child {
  }
  > div:last-child {
    float: right;
  }
}

.nuCardEditGroup {

  .card-link {
    transition: color 500ms;
  }
  .nuDeleteCard {
    :hover { color: #ec4d49; }
  }
  .nuEditCard {
    margin-left: auto;
    :hover { color: gold; }
  }
}
.liked {
  background: #5471d3;
  color: #fff;
  border-radius: 7px;
}
.nuLike {
  cursor: pointer;
  display: flex;
  :hover { color: #74cae3; }
}
.richTextEditor {
  background: #fff;
  margin-top: 20px;
  color: #333;
  height: 250px;

  .ql-toolbar {
      height: 20%;
      display: flex;
      align-items: center;
  }

  #quill-container {
    overflow: hidden;
    height: 80%;
  }
}
.richTextComment {
  background: #fff;
  margin-top: 20px;
  color: #333;
  height: 135px;
  .ql-toolbar {
    height: 30%;
    display: flex;
    align-items: center;
  }
  #quill-container {
    overflow: hidden;
    height: 70%;
  }
}

.author{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profilePic{
  width: 40px;
  height: 40px;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 10px;
}

@include media-breakpoint-down(md) { 
 .richTextEditor, .richTextComment{
   .ql-toolbar{
     display: none;
   }
   #quill-container{
     height: 100%;
   }
 }
 }